**/*.mp4
**/.ipynb_checkpoints/*
**/__pycache__/*
**/.DS_Store
**/*.log
**/*.txt
**/*.xml
**/*.gz
**/*.zip
Drain3/MANIFEST
Drain3/dist/*
Drain3/venv/*
Drain3/.idea/*
Drain3/.vscode/*
Drain3/drain3.egg-info/*
Drain3/snapshot.txt
Drain3/examples/snapshot.txt
Drain3/*.bin
Drain3/*.log
Drain3/*.gz
